$content-width: 900px;

$font-style: 'Open Sans', sans-serif;

$font-color: #020522;
$link-color: #020522;
$link-hover-color: rgb(245, 11, 11);
$light: #e7edf4;

$welcome-page-element: linear-gradient(to bottom, #212121d0 0%, #060505eb 100%);

$navbar-background: #000000;
$navbar-font-style: 'Muli', sans-serif;
$navbar-font-color: #ffffff;

$footer-background: #3e3f3f;
$footer-font-color: #ffffff;
$footer-link: #ffffff;

$figure-font-color: #444444;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}