$content-width: 800px;
$main: #e7edf4 ;
$font-style: 'Open Sans', sans-serif;
$font-color: #020522;
$link-color: #020522;
$link-hover-color: #051a60;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #020522;
$light: #e7edf4;
$header: #051a60;
$head: #000000;
$footer: #e7edf4;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}