$content-width: 900px;
$main: #e7edf4 ;
$font-style: 'Open Sans', sans-serif;
$font-color: #020522;
$link-color: #020522;
$link-hover-color: rgb(245, 11, 11);
$heading-font: 'Muli', sans-serif;
$heading-font-color: #020522;
$light: #e7edf4;
$header: #000000;
$head: #000000;
$footer: #3e3f3f;
$footer-link: #ffffff;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}