body {
    margin: 0;
    color: $font-color;
    font-family: $font-style;
    font-size: 1.1em;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3 {
    font-weight: 600;
    font-size: 1.5em;
    color: $font-color;
    font-family: $font-style;
    padding-top: 20px;
  }
  h1 {
    font-size: 2.5em;
    a,
    a:visited {
      text-decoration: none;
      color: $light;
    }
  }
  h2 {
    font-size: 2em;
  }
  h4 {
    font-weight: 600;
    font-size: 1.5em;
    color: $font-color;
    font-family: $font-style;
    padding-top: 0px;
  }
  h5 {
    color:white;
    font-size:70px;
    padding-top: 0px;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5%;
  }
  h6 {
    color:white;
    font-size:20px;
    padding-top: 0px;
    text-align:center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  a,
  a:visited {
    color: $link-color;
    text-decoration: underline;
    
  }
  a:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
 
  header {
    background: $welcome-page-element;
    padding-top: 100px;
    padding-bottom: 250px;
    margin: auto;
    height: 100%;
    width: 100%;
    text-decoration: bold;
    max-width: 8000px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  main {
    padding: 50px 15px;
    max-width: $content-width;
    margin: 0 auto;
  }
  time {
    color: #898989;
  }
  .container {
    max-width: 8000px;
    margin: 0 auto;
  }
 
  
  /* Aside */
  aside {
    position: fixed;
    top: 0;
    left: 0;
    background: $navbar-background;
    width: 165%;
    z-index: 2;
    border-bottom: 1px solid lighten($light, 30%);
    box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
    nav {
      float: none;
      max-width: 800px;
      margin: 0 auto;  
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        }
        li.right {
          float: left;
          position: relative;
          top: 0;
          right: 0;
          background: $navbar-background;
          a {
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            display: block;
            padding: 15px;
            font-family: $navbar-font-style;
            font-size: medium;
            line-height: 20px;
            margin-bottom: -1px;
            box-shadow: 0;
            color: $navbar-font-color !important;
            &:hover,
            &:active {
              text-decoration: none;
              color: $link-hover-color !important;
            }
          }
      }
      li.right2 {
        float: left;
        position: relative;
        top: 0;
        right: 0;
        background: $navbar-background;
        a {
          text-align: center;
          text-decoration: none;
          font-weight: bold;
          display: block;
          padding: 15px;
          font-family: $navbar-font-style;
          font-size: medium;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0;
          color: $navbar-font-color !important;
          &:hover,
          &:active {
            text-decoration: none;
            color: $link-hover-color !important;
          }
        }
    }
      li.left {
        float: left;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        background: $navbar-background;
        a {
          text-decoration: none;
          font-weight: bold;
          display: block;
          padding: 15px;
          font-family: $navbar-font-style;
          font-size: 1.2em;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0;
          color: $navbar-font-color!important;
          &:hover,
          &:active {
            
            text-decoration: none;
            color: $link-hover-color !important;
          }
        }
    }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }

  /* Navbar container */
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: $navbar-font-style;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-family: $navbar-font-style;
    font-size: medium;
    color: $navbar-font-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn { 
    border: none;
    outline: none;
    text-decoration: none;
    color: #ffffff;
    font-family: $navbar-font-style;
    font-size: medium;
    font-weight: bold;
    display: block;
    padding: 15px;
    line-height: 20px;
    margin-bottom: -1px;
    background-color: inherit;
    
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red colour to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color:$link-hover-color !important;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #898989;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  }
  footer {  
    text-align: center;
    background-color: $footer-background;
    padding: 1px 15px;
    margin: 50px 0 0;
    height: 11vh;
    font-size: medium;
    color: $footer-font-color;
    a,
    a:visited {
      color: $footer-link;
      text-decoration: underline;
      font-weight: bold;
      &:hover
       {
          color: $link-hover-color !important;
          text-decoration: underline;
      }

    }
    p.left 
    {
      text-align: left;
    }
    p.right 
    {
      text-align: center;
      font-size: small;
    }
  }
  figure
  {
    font-size: small;
    color: $figure-font-color;
    max-width: $content-width;

  }
  img.plot {
    width:100%;
  }

  img.welcome {
    width:60%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 2.0em;
      margin-top: 50px;
      a,
      a:visited {
        text-decoration: none;
        color: $light;
      }
    }
    h2 {
      font-size: 1.5em;
    }
    h4 {
      font-weight: 600;
      font-size: 1.0em;
      color: $font-color;
      font-family: $font-style;
      padding-top: 0px;
    }
    h5 {
      color:white;
      font-size:50px;
      padding-top: 0px;
      text-align:center;
      margin-top: 0px;
      margin-bottom: 10%;
    }
    h6 {
      color:white;
      font-size:15px;
      padding-top: 0px;
      text-align:center;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 40px;
      margin-right: 40px;
    }  
  img.welcome {
    width: 80%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  footer {  
    text-align: center;
    background-color: $footer-background;
    padding: 1px 15px;
    margin: 50px 0 0;
    height: 11vh;
    font-size: small;
    color: $footer-font-color;
    a,
    a:visited {
      color: $footer-link;
      text-decoration: underline;
      font-weight: bold;
      &:hover
       {
          color: $link-hover-color !important;
          text-decoration: underline;
      }

    }
    p.left 
    {
      text-align: left;
    }
    p.right 
    {
      text-align: center;
      font-size: small;
    }
  }


}
  